.container{
  max-width: 1000px;
}
/**
 * About-section stylesheet
 * */
.about-section {
  position: relative;
  text-align: center;
  .design {
    width: 100%;
    height: 600px;
    margin-bottom: 3%;
    position: relative;
    background: rgba(251, 105, 100, 1);
    -webkit-clip-path: polygon(10% 145%, 9% 0, 100% 0, 100% -65%);
    clip-path: polygon(10% 145%, 9% 0, 100% 0, 100% -65%);
    z-index: 100;
    transition: all 1.5s ease;
    &.active{
      background: rgba(251, 105, 100, 0.7);
      //-webkit-clip-path: polygon(10% 340%, 0 0, 100% 0, 95% 0);
      //clip-path: polygon(10% 340%, 9% 0, 0 0, 95% 0);
      -webkit-clip-path: polygon(0% 275%, 0 0, 100% 0, 100% -45%);
      clip-path: polygon(0% 275%, 0 0, 100% 0, 100% -45%);
      //-webkit-clip-path: polygon(10% 100%, 9% 0, 100% 0, 100% -25%);
      //clip-path: polygon(10% 100%, 9% 0, 100% 0, 100% -25%);
      transition: all 1.5s ease;
    }
    &.develop-active{
      -webkit-clip-path: polygon(10% 120%, 9% 0, 100% 0, 110% -260%);
      clip-path: polygon(10% 120%, 9% 0, 100% 0, 110% -260%);
      transition: all 1.5s ease;
    }
    //&:hover{
    //  h3.title{
    //    margin: -15% 11%;
    //  }
    //}
    .design-content{
      position: absolute;
      z-index: 101;
      margin: 12% -12%;
      PADDING: 15% 5%;
      cursor: pointer;
      h3.title {
        color: white;
        text-transform: uppercase;
        font-size: 5rem;
      }
      img.vector{
        width: 30%;
        padding: 5% 0;
      }
      .text p{
        color: whitesmoke;
        font-size: 1.3rem;
      }
      img.vector, .text p{
        opacity: 0;
      }
    }
  }
  .develop {
    position: absolute;
    right: 3.5%;
    top: 0;
    width: 95%;
    height: 600px;
    background: rgba(95, 161, 224, 0.8);
    transition: all 1.5s ease;
    &.active{
      background: rgba(95, 161, 224, 0.6);
    }
    .develop-content{
      cursor: pointer;
      position: absolute;
      z-index: 101;
      margin: 12% 52%;
      PADDING: 15% 5%;
      h3.title {
        font-size: 5rem;
        color: white;
        text-transform: uppercase;
      }
      img.vector{
        width: 30%;
        padding: 5% 0;
      }
      .text p{
        color: whitesmoke;
        font-size: 1.3rem;
      }
      img.vector, .text p{
        opacity: 0;
      }
    }
  }
}
